
<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="slogan">
    <h1>crowdsourced crime reporting <br><br> for your neighborhood<br><br></h1>
    <% if user_signed_in? == false %>
      <%= link_to "sign up", new_user_registration_path, :class => "btn btn-skin scroll" %>
    <% end %>
    <% if user_signed_in? == true %>
      <a href="#about" class="btn btn-skin scroll">live map</a> <br ><br >
    <% end %>
  </div>
</section>
<!-- /Section: intro -->
<!-- Section: about -->
<section id="about" class="about-section text-center bg-gray">
  <% if user_signed_in? == true %>
    <div class="row">

      <div class='sidebar'>
      <div id='listings' class='listings'>  <%= link_to 'Create Report', new_report_path, class: "btn-pos btn btn-skin scroll" %></div>
      </div>
      <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />
      <div id='map' class='map'> </div>
        <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibWJpZ2dpbnMiLCJhIjoiMTdiMjNiZDIzNmRkZWQzNGFkYmM4NjEwZWVhNDk0ZTkifQ.EXAD9MHfkO-LURfX3kqGyQ';

        var map = L.mapbox.map('map', 'mbiggins.md9k8mo8')
        .setView([38.8977, -77.0366], 16);

        map.scrollWheelZoom.disable();

        var myLocations = L.mapbox.featureLayer()
          .loadURL('/report.json')
          .addTo(map)
        

        // List take 2
        var markerList = document.getElementById('listings');

        myLocations.on('ready', function(e) {
            myLocations.eachLayer(function(layer) {
                var item = markerList.appendChild(document.createElement('div'));
                item.className = "item";
                var link = item.appendChild(document.createElement('a'));
                link.innerHTML = layer.toGeoJSON().properties.title;
                link.className = 'title';
                link.innerHTML += '<br /><small class="quiet">' + layer.toGeoJSON().properties.description + '</small>';
              
                item.onclick = function() {
                   map.setView(layer.getLatLng(), 16);
                   layer.openPopup();
                   setActive(item);
                };

                var popup = '<h3>'+layer.toGeoJSON().properties.title+'</h3><div>' + layer.toGeoJSON().properties.description;
                popup += '</div>';
                layer.bindPopup(popup);
            });
        });
        // List take 2

      // Search Bar Functionality & Locator
      map
        .addControl(L.mapbox.geocoderControl('mapbox.places'));
        L.control.locate().addTo(map);

      </script>
    </div>
  </div>
</section>
<!-- /Section: about -->
<!-- Section: services -->
<section id="service" class="home-section text-center">
  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>About</h2>
            <p>Samarit is a crowdsourced crime reporting platform. By allowing users to upload the type, 
            location and time of a crime incident, it generates hotspots so that fellow citizens 
            can take notice and be safe. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-street-view fa-4x"></i>
          </div>
          <div class="service-desc">
            <h5>Report</h5>
            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-eye-slash fa-4x"></i>
          </div>
          <div class="service-desc">
            <h5>Be On The Lookout</h5>
            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-heartbeat fa-4x"></i>
          </div>
          <div class="service-desc">
            <h5>Be Safe</h5>
            <p>Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: services -->
<!-- Section: works -->
<section id="works" class="home-section text-center bg-gray">
  <div class="heading-works marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>FAQ</h2>
            <p>Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >
        <div class="row gallery-item">
          <div class="col-md-3">
            <a href="img/works/1.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/1.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/2.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/3.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/4.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/5.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/6.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/7.jpg" class="img-responsive" alt="img">
            </a>
          </div>
          <div class="col-md-3">
            <a href="img/works/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="img/works/1@2x.jpg">
            <img src="img/works/8.jpg" class="img-responsive" alt="img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- /Section: works -->
<!-- Section: contact -->
<section id="contact" class="home-section text-center">
  <div class="heading-contact marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="section-heading">
            <h2>Contact</h2>
            <p>Samarit was developed by a team of students for a final project at <a href = 'http://ixperience.co.za'>iXperience</a> in Cape Town, South Africa. For any questions or comments, please fill out the form below.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-offset-2">
        <div class="boxed-grey">
          <form id="contact-form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">
                  Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                </div>
                <div class="form-group">
                  <label for="email">
                  Email Address</label>
                  <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="subject">
                  Subject</label>
                  <select id="subject" name="subject" class="form-control" required="required">
                    <option value="na" selected="">Choose One:</option>
                    <option value="questions">General Questions</option>
                    <option value="suggestions">Suggestions</option>
                    <option value="support">Technical Support</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name">
                  Message</label>
                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                    placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                Send Message</button>
              </div>
            </div>
          </form>
        </div>
        <div class="widget-contact row">
          <div class="col-lg-6">
            <address>
              <strong>Samarit</strong><br>
              828 Brookwood Pl<br>
              Ann Arbor, MI 48104<br>
              <abbr title="Phone">P:</abbr> +1 (248) 225-4784
            </address>
          </div>
          <div class="col-lg-6">
            <address>
              <strong>Email</strong><br>
              <a href="mailto:kpinar@seas.upenn.edu">kpinar@seas.upenn.edu</a><br />
              <a href="mailto:matthew.w.biggins.1@nd.edu">matthew.w.biggins.1@nd.edu</a><br />
              <a href="mailto:aischwa@umich.edu">aischwa@umich.edu</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: contact -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
      </div>
    </div>
  </div>
</footer>