// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (min-width:600px){
	.navbar-signin-form {
		line-height: normal;
		border:0px solid;
		text-align:center;
		background-color: white;
	}
}

@media only screen and (max-width:599px){
	.navbar-signin-form {
		display: none;
	}
}

.signup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.navbar-signup-form {
	color: #F94844;
}

.logoutbutton{
	float: right;
	padding: 0 30px;
  	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	display: block;
  	height: 100%;
  	color: #F94844;
  	text-decoration: none;
  	cursor: pointer;
  	background: transparent;
  	text-align: center;
  	font-size: 13px;
  	list-style: none;
  	font-family: 'Lato', Arial, sans-serif;
 	line-height: 60px;
}